#{list videos, as:'video'}
<div class="col-md-4">
	<a class="card" href="/video?id=${video.id}">
	  #{if video.cover}
	      <img src="${video.cover}" style="height:165px;width:100%;"/>
	  #{/if}
	  <div class="card-heading"><strong>${video.title}</strong></div>
	  <div class="card-content text-muted"><small>${video.video_desc.htmlText().cutString(15)}</small></div>
	  <div class="card-actions">
	      <span class="label label-warning">牡丹亭</span>
	      <div class="pull-right"><i class="icon-comments-alt"></i> 520</div>
	  </div>
	</a>
</div>
#{/list}
