#{extends '/hmcms/layout/cms.html' /}

<div id="main">
	<div class="row">
		<div class="col-md-9">
			<div id="article-content">
				<div class="art-heading">
					<h2>${video.title}</h2>
					<p class="art-about">
						${video.createDate.format('yyyy-MM-dd HH:mm:ss')}
						<span class="pipe">|</span>
						发布者: <a href="#">${video.author}</a>
						<span class="pipe">|</span>
						查看: ${video.view_total}
						<span class="pipe">|</span>
						评论: ${video.comments.size()}
						<span class="pipe">|</span>
						赞: ${video.likes.size()}
					</p>
				</div>
				<div class="art-body">
					<div id="video">
						<video src="${video.video_url}" controls="controls">
							Your browser does not support the video tag.
						</video>
					</div>
				</div>
				<div class="art-foot">
					<div class="zs">
						<button type="button" class="zsbtn bg-primary like_btn" title="赞"><i class="icon-thumbs-o-up"></i></button>
						<button type="button" class="zsbtn bg-danger" title="打赏">赏</button>
						<button type="button" class="zsbtn bg-special" title="分享"><i class="icon-link"></i></button>
					</div>
				</div>
			</div>
			#{include '/hmcms/VideoController/videoComment.html' /}
		</div>
		<div class="col-md-3">
			#{include '/hmcms/VideoController/sectionRecommendVideo.html' /}
		</div>
	</div>
</div>
#{set 'js'}
<script>
	$(function(){
		$('.like_btn').on('click', function() {
			$.ajax({
				url:'/video/like?id=${video.id}',
				type:'get',
				success:function(data){
					if(data.status){
						new $.zui.Messager(data.message, {
					        icon: 'icon-thumbs-o-up',
					        placement:'bottom',
					        type:'success'
					    }).show();
					}else{
						new $.zui.Messager(data.message, {
					        icon: 'icon-thumbs-o-up',
					        placement:'bottom',
					        type:'danger'
					    }).show();
					}
				},
				error:function(e){
					console.log(e);
				}
			})
		});
	})
</script>
#{get 'commentScripts' /}
#{/set}