#{extends '/hmcms/layout/cms.html' /}

<div id="main">
	<div class="row">
		<div class="col-md-8">
			#{if video_recommends}
			<div id="carousel">
				<div id="mycarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
						<li data-target="#mycarousel" data-slide-to="1" class=""></li>
						<li data-target="#mycarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
					    %{ def f = 0}%
						#{list video_recommends, as:'recommend'}
						<div class="item #{if f==0}active#{/if}">
							<img alt="${recommend.title}" src="${recommend.cover}">
							<div class="carousel-caption">
								<h3>${recommend.title}</h3>
							</div>
						</div>
						%{f++}%
						#{/list}
					</div>
					<a class="left carousel-control" href="#mycarousel" data-slide="prev">
						<span class="icon icon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#mycarousel" data-slide="next">
						<span class="icon icon-chevron-right"></span>
					</a>
				</div>
			</div>
			#{/if}
			<div id="hotnews">
				<div class="hot-header">
					<b>视频列表</b>
				</div>
				<div class="tab-content">
					<div class="tab-pane in active" id="tab1">
						<div class="hot-content">
							<div id="section">
								<div class="cards">
									#{include '/hmcms/VideoController/sectionVideos.html' /}
								</div>
							</div>
							<div class="readmore"><a href="javascript:;" class="newest">加载更多 <i class="icon-chevron-down"></i></a></div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="hot-content">
							<div id="section"><div class="cards"></div></div>
							<div class="readmore"><a href="javascript:;" class="hotest">加载更多 <i class="icon-chevron-down"></i></a></div>
						</div>
					</div>
					<div class="tab-pane" id="tab3">
						<div class="hot-content">
							<div id="section"><div class="cards"></div></div>
							<div class="readmore"><a href="javascript:;" class="focusest">加载更多 <i class="icon-chevron-down"></i></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			#{include '/hmcms/VideoController/videosTagSideBar.html' /}
		</div>
	</div>
</div>

#{set 'js'}
<script>
	$(function(){
		var newestPage = 2;
		$(".newest").click(function(){
			$.ajax({
				url:'/videos?ajax=1&page='+newestPage,
				type:'get',
				success:function(data){
					if(data){
						$("#tab1 .hot-content #section .cards").append(data);
						newestPage++;
					}else{
						$("#tab1 .readmore").remove();
					}
				},
				error:function(e){
					console.log(e);
				}
			})
		})
	})
</script>
#{/set}